.sign__in {
  margin: 0px !important;

  h1 {
    font-weight: 600;
    font-size: 48px;
    color: var(--primary600);
  }

  form {
    width: 35%;

    label {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: var(--grey);
    }

    input {
      padding: 0px 16px;
      height: 40px;
      font-family: 'Open Sans', serif;
      font-weight: 400;
      font-size: 16px;
      color: var(--grey);
      border: 1px solid var(--grey);
      outline: none;

      &::placeholder {
        font-family: 'Open Sans', serif;
        font-weight: 400;
        font-size: 14px;
        color: var(--grey);
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .password__group {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 0px 16px;
      border: 1px solid var(--grey);
      background: #fff;
      border-radius: 6px !important;

      input {
        padding: 0px !important;
        height: 100% !important;
        font-family: 'Open Sans', serif;
        font-weight: 400;
        font-size: 16px;
        color: var(--grey);
        border: none !important;

        outline: none;

        &::placeholder {
          font-family: 'Open Sans', serif;
          font-weight: 400;
          font-size: 14px;
          color: var(--grey);
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sign__in {
    h1 {
      margin: 28px 0px !important;
    }

    form {
      width: 50% !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .sign__in {
    h1 {
      font-size: 32px !important;
    }

    form {
      width: 70% !important;

      label {
        font-size: 14px !important;
      }

      input {
        height: 34px !important;
        font-size: 12px !important;
        padding: 0px 12px !important;

        &::placeholder {
          font-size: 12px !important;
        }
      }
    }

    form div:nth-child(4) {
      font-size: 14px !important;
    }
  }
}
