.shipping {
  .page__banner {
    margin-top: 0px;
    margin-bottom: 64px;
    background-image: url('../../assets/shipping.png');
    background-repeat: no-repeat;
    height: 152px;

    .page__banner_text {
      width: 100%;
      height: 100%;
      background: rgba(84, 84, 84, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 58px;
        font-weight: 700;
        color: var(--primary600);
      }
    }
  }

  .shipping__info {
    margin: 0px 64px 64px 64px;

    .info__row {
      margin-top: 16px;

      .col-md-8 {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
          width: 70%;
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .zip__city {
            width: 100%;
            display: flex;
            gap: 16px;

            div {
              width: 50%;
            }
          }

          .form-label {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 22.4px;
            color: var(--black);
          }

          .form-control {
            display: flex;
            gap: 8px;
            padding: 8px 24px;
            border-radius: 8px;
            background: #fdfbf6;
            border: 1px solid var(--primary600);
            height: 40px;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: var(--black);
            outline: none;
            box-shadow: none;

            &::placeholder {
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: var(--grey);
            }
          }
        }
      }

      .order__summary {
        padding-left: 46px !important;
        padding-right: 46px !important;
        h4 {
          font-weight: 700;
          font-size: 25px;
          color: var(--primary600);
        }

        .row {
          padding: 12px 0px;

          &:not(:nth-last-child(1)) {
            border-bottom: 1px solid var(--primary600);
          }

          &:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }

          &:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .titles {
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 700;
              font-size: 24px;
              color: var(--grey);
            }

            .outcomes {
              font-family: 'Nunito Sans', sans-serif;
              font-weight: 700;
              font-size: 20px;
              color: var(--secondary900);
              padding-left: 0px;
            }
          }

          .titles {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: var(--grey);
          }

          .outcomes {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: var(--secondary900);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .shipping {
    .page__banner {
      margin-bottom: 52px !important;
    }

    .shipping__info {
      margin: 0px 56px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .shipping {
    .page__banner {
      margin-bottom: 42px !important;
    }

    .shipping__info {
      margin: 0px 36px !important;

      .info__row {
        flex-direction: column !important;

        .col-md-8 {
          width: 100% !important;
          margin-top: 24px !important;
          margin-bottom: 32px !important;

          form {
            width: 90% !important;
          }
        }

        .order__summary {
          width: 70% !important;
          padding: 0px 10px !important;
          transform: translateX(25%);

          h4 {
            font-size: 22px !important;
            text-align: center;
            margin: 0px !important;
          }

          .row:nth-child(2) {
            padding: 8px 0px !important;

            div {
              display: grid !important;
              grid-template-columns: 50% 50%;

              .titles {
                display: flex !important;
                justify-content: center !important;
                text-align: center;
                font-size: 14px !important;
              }

              .outcomes {
                display: flex !important;
                justify-content: center !important;
                text-align: center;
                font-size: 14px !important;
              }
            }
          }

          .row:nth-child(3) {
            display: grid !important;
            grid-template-columns: 50% 50%;
            .titles {
              text-align: center !important;
              font-size: 20px !important;
            }

            .outcomes {
              text-align: center !important;
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .shipping {
    .page__banner {
      height: 96px !important;
      .page__banner_text {
        span {
          font-size: 38px !important;
          text-align: center;
        }
      }
    }

    .shipping__info {
      margin: 0px 20px !important;

      .info__row {
        .col-md-8 {
          form {
            gap: 12px !important;

            label {
              font-size: 12px !important;
            }

            input {
              height: 34px !important;
              font-size: 12px !important;

              &::placeholder {
                font-size: 12px !important;
              }
            }
          }
        }
      }
    }
  }
}
