.profile {
  .page__banner {
    margin-top: 0px;
    margin-bottom: 64px;
    background-image: url('../../assets/shipping.png');
    background-repeat: no-repeat;
    height: 152px;

    .page__banner_text {
      width: 100%;
      height: 100%;
      background: rgba(84, 84, 84, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 58px;
        font-weight: 700;
        color: var(--primary600);
      }
    }
  }

  .profile__info {
    margin: 0px 64px 64px 64px;

    .col-md-4 {
      display: flex;
      align-items: center;
      justify-content: center;
      .profile__img {
        width: 90%;
        height: 90%;
        border-radius: 8px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .col-md-8 {
      form {
        width: 80%;

        label {
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: var(--grey);
        }

        input {
          padding: 0px 16px;
          height: 40px;
          font-family: 'Open Sans', serif;
          font-weight: 400;
          font-size: 16px;
          color: var(--grey);
          border: 1px solid var(--grey);
          outline: none;

          &::placeholder {
            font-family: 'Open Sans', serif;
            font-weight: 400;
            font-size: 14px;
            color: var(--grey);
          }

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .profile {
    .page__banner {
      margin-bottom: 52px !important;
    }

    .profile__info {
      margin: 16px 56px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile {
    .page__banner {
      margin-bottom: 42px !important;
    }

    .profile__info {
      margin: 8px 36px !important;

      .row {
        flex-direction: column !important;
        gap: 42px !important;
        align-items: center;

        .col-md-4 {
          width: 70% !important;
        }

        .col-md-8 {
          width: 100% !important;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    .page__banner {
      margin-bottom: 42px !important;
    }

    .profile__info {
      margin: 4px 20px !important;
    }
  }
}
