.payment .page__banner {
  margin-top: 0px;
  margin-bottom: 64px;
  background-image: url("../../assets/payment.png");
  background-repeat: no-repeat;
  height: 152px;
}
.payment .page__banner .page__banner_text {
  width: 100%;
  height: 100%;
  background: rgba(84, 84, 84, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment .page__banner .page__banner_text span {
  font-family: "Nunito Sans", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: var(--primary600);
}
.payment .payment__info {
  margin: 0px 64px 64px 64px;
}
.payment .payment__info .product__info {
  margin-top: 32px;
}
.payment .payment__info .product__info .products_col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.payment .payment__info .product__info .products_col .products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--secondary700);
  background: #fffcf5;
}
.payment .payment__info .product__info .products_col .products h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary700);
  margin: 0;
}
.payment .payment__info .product__info .products_col .products .cart__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.payment .payment__info .product__info .products_col .products .cart__items .item__row .item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment .payment__info .product__info .products_col .products .cart__items .item__row .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.payment .payment__info .product__info .products_col .products .cart__items .item__row .col-md-3,
.payment .payment__info .product__info .products_col .products .cart__items .item__row .col-md-6 {
  display: flex;
  align-items: center;
}
.payment .payment__info .product__info .products_col .products .cart__items .item__row h5 {
  font-size: 18px;
  color: var(--secondary800);
  font-weight: 600;
}
.payment .payment__info .product__info .products_col .products .cart__items .item__row .col-md-3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--primary800);
}
.payment .payment__info .product__info .products_col .products h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey);
}
.payment .payment__info .product__info .products_col .address {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--secondary700);
  background: #fffcf5;
}
.payment .payment__info .product__info .products_col .address h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary700);
  margin: 0;
}
.payment .payment__info .product__info .products_col .address .address_details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.payment .payment__info .product__info .products_col .address .address_details p {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  margin: 0;
}
.payment .payment__info .product__info .products_col .address h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--grey);
}
.payment .payment__info .product__info .order__summary {
  padding: 0px 64px !important;
}
.payment .payment__info .product__info .order__summary .payment__button form {
  display: grid;
  grid-template-columns: auto auto;
}
.payment .payment__info .product__info .order__summary .payment__button form .form-check {
  display: flex !important;
  align-items: center;
  gap: 18px;
}
.payment .payment__info .product__info .order__summary .payment__button form .form-check .form-check-input:checked {
  background: var(--primary600);
  border-color: var(--primary600);
}
.payment .payment__info .product__info .order__summary .payment__button form .form-check .form-check-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary800);
}
.payment .payment__info .product__info .order__summary h4 {
  font-weight: 700;
  font-size: 25px;
  color: var(--primary600);
}
.payment .payment__info .product__info .order__summary .row {
  padding: 12px 0px;
}
.payment .payment__info .product__info .order__summary .row:not(:nth-last-child(1)) {
  border-bottom: 1px solid var(--primary600);
}
.payment .payment__info .product__info .order__summary .row:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}
.payment .payment__info .product__info .order__summary .row:nth-child(3) .titles {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--grey);
}
.payment .payment__info .product__info .order__summary .row:nth-child(3) .outcomes {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--secondary900);
}
.payment .payment__info .product__info .order__summary .row:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.payment .payment__info .product__info .order__summary .row:nth-child(4) .titles {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--grey);
}
.payment .payment__info .product__info .order__summary .row:nth-child(4) .outcomes {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary900);
  padding-left: 0px;
}

@media only screen and (max-width: 992px) {
  .payment .page__banner {
    margin-bottom: 52px !important;
  }
  .payment .payment__info {
    margin: 0px 56px !important;
  }
}
@media only screen and (max-width: 768px) {
  .payment .page__banner {
    margin-bottom: 42px !important;
  }
  .payment .payment__info {
    margin: 0px 36px !important;
  }
  .payment .payment__info .product__info {
    flex-direction: column !important;
    gap: 36px !important;
  }
  .payment .payment__info .product__info .products_col {
    width: 100% !important;
  }
  .payment .payment__info .product__info .order__summary {
    width: 70% !important;
    transform: translateX(25%);
    padding: 0px 12px !important;
  }
  .payment .payment__info .product__info .order__summary .payment__button {
    margin-bottom: 24px !important;
  }
  .payment .payment__info .product__info .order__summary .payment__button form .form-check {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payment .payment__info .product__info .order__summary h4 {
    font-size: 22px !important;
    text-align: center;
    margin: 0px !important;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(3) {
    padding: 8px 0px !important;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(3) div {
    display: grid !important;
    grid-template-columns: 50% 50%;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(3) div .titles {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    text-align: center;
    font-size: 14px !important;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(3) div .outcomes {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    text-align: center;
    font-size: 14px !important;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(4) {
    display: grid !important;
    padding: 8px 0px !important;
    grid-template-columns: 50% 50%;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(4) .titles {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    text-align: center;
    font-size: 20px !important;
  }
  .payment .payment__info .product__info .order__summary .row:nth-child(4) .outcomes {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    text-align: center;
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 600px) {
  .payment .page__banner {
    margin-bottom: 36px !important;
    height: 96px !important;
  }
  .payment .page__banner .page__banner_text span {
    font-size: 38px !important;
    text-align: center;
  }
  .payment .payment__info {
    margin: 0px 20px !important;
  }
  .payment .payment__info .products_col .products {
    padding: 12px 18px !important;
    border-radius: 4px !important;
    gap: 16px !important;
  }
  .payment .payment__info .products_col .products h4 {
    font-size: 18px !important;
  }
  .payment .payment__info .products_col .products .cart__items {
    gap: 6px !important;
  }
  .payment .payment__info .products_col .products .cart__items .item__row {
    display: grid !important;
    grid-template-columns: 20% 50% 30% !important;
  }
  .payment .payment__info .products_col .products .cart__items .item__row .item__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payment .payment__info .products_col .products .cart__items .item__row .item__image img {
    width: 70% !important;
    height: auto !important;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .payment .payment__info .products_col .products .cart__items .item__row .col-md-6 h5 {
    margin: 0px !important;
    font-size: 16px !important;
  }
  .payment .payment__info .products_col .products .cart__items .item__row .col-md-3 {
    font-size: 16px !important;
  }
  .payment .payment__info .products_col .products a h6 {
    font-size: 14px !important;
  }
  .payment .payment__info .products_col .address {
    padding: 12px 18px !important;
    border-radius: 4px !important;
    gap: 16px !important;
  }
  .payment .payment__info .products_col .address h4 {
    font-size: 18px !important;
  }
  .payment .payment__info .products_col .address a h6 {
    font-size: 14px !important;
  }
  .payment .payment__info .products_col .address .address_details p {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=Payment.css.map */