.order {
  .page__banner {
    margin-top: 0px;
    margin-bottom: 64px;
    background-image: url('../../assets/payment.png');
    background-repeat: no-repeat;
    height: 152px;

    .page__banner_text {
      width: 100%;
      height: 100%;
      background: rgba(84, 84, 84, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 58px;
        font-weight: 700;
        color: var(--primary600);
      }
    }
  }

  .order__details {
    margin: 0px 64px 64px 64px;

    .img-thumbnail {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 992px) {
  .order {
    .page__banner {
      margin-bottom: 52px !important;
    }

    .order__details {
      margin: 0px 56px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .order {
    .page__banner {
      margin-bottom: 42px !important;
    }

    .order__details {
      margin: 0px 36px !important;

      .order__info {
        h1 {
          font-size: 24px !important;
        }

        .row {
          flex-direction: column !important;
          gap: 0px !important;

          .col-md-8 {
            width: 100% !important;

            .card:nth-child(3) {
              .card-body {
                .list-group {
                  .list-group-item {
                    .row {
                      width: 100% !important;
                      display: grid !important;
                      grid-template-columns: 60% 20% 20% !important;

                      .col-md-6 {
                        width: 100% !important;
                        display: flex !important;
                        align-items: center;
                        gap: 32px;

                        img {
                          width: 40px !important;
                          height: 40px !important;
                          object-fit: contain !important;
                        }
                      }

                      .col-md-3 {
                        width: 100% !important;
                      }
                    }
                  }
                }
              }
            }
          }

          .col-md-4 {
            width: 80% !important;
            transform: translateX(10%);

            .card {
              .card-body {
                .card-title {
                  display: flex;
                  justify-content: center;
                }

                .list-group {
                  .list-group-item {
                    .row {
                      display: grid !important;
                      grid-template-columns: 50% 50% !important;

                      .col {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .order {
    .page__banner {
      margin-bottom: 36px !important;
      height: 96px !important;

      .page__banner_text {
        span {
          font-size: 38px !important;
          text-align: center;
        }
      }
    }

    .order__details {
      margin: 0px 20px !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .order {
    .card-title {
      font-size: 16px !important;
      margin-bottom: 12px !important;
    }
    .card-text {
      font-size: 14px !important;
    }
  }
}
