body a {
  text-decoration: none;
}

.App {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.button__primary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__primary_icon svg {
  font-size: 20px !important;
  color: #fcfcfc !important;
}
.button__primary_icon:hover {
  background: #ffcd72;
}

.button__primary_small_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px 12px 0px 16px;
  gap: 6px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__primary_small_icon svg {
  font-size: 16px !important;
  color: #fcfcfc !important;
}
.button__primary_small_icon:hover {
  background: #ffcd72;
}

.button__small_heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--primary600);
}
.button__small_heart svg {
  height: 18px;
  width: 18px;
  color: var(--primary600);
}

.container {
  margin: 0px 64px !important;
  padding: 0 !important;
}

.button__secondary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: var(--secondary700);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__secondary_icon svg {
  font-size: 20px !important;
  color: #fcfcfc !important;
}
.button__secondary_icon:hover {
  background: var(--secondary500);
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating span svg {
  width: 16px;
  height: 16px;
  color: var(--primary600);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar {
  width: 100vw;
  padding: 0 !important;
  background: #fbf3e0;
}
.navbar .nav__content {
  width: 100%;
  margin: 12px 64px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar .nav__content .logo h2 {
  font-family: "Kaushan Script", sans-serif !important;
  font-size: 24px;
  color: #e4aa00;
}
.navbar .nav__content .navigation .menu {
  padding: 0;
  margin: 0;
}
.navbar .nav__content .navigation .menu a {
  height: 40px;
  position: relative;
  display: block;
  padding: 2px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #725500;
  transition: 0.5s;
  text-decoration: none;
}
.navbar .nav__content .navigation .menu a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background: #e4aa00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
.navbar .nav__content .navigation .menu a:hover {
  color: #e4aa00;
  font-weight: 600;
}
.navbar .nav__content .navigation .menu a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.navbar .nav__content .navigation .menu .menu__active {
  color: #e4aa00;
  font-weight: 600;
}
.navbar .nav__content .navigation .menu .menu__active::after {
  transform: scaleX(1);
  transform-origin: center;
}
.navbar .nav__content .right svg {
  font-size: 24px;
  color: #4f4400;
}

.menu__card {
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border: 2px solid var(--primary600);
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
  cursor: pointer;
  transition: 0.5s;
}
.menu__card .icon__circle {
  width: 44px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary600);
}
.menu__card .icon__circle svg {
  width: 24px;
  height: 24px;
  color: var(--white);
}
.menu__card h5 {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary600);
}

.activeMenu,
.menu__card:hover {
  background: var(--primary600);
}
.activeMenu .icon__circle,
.menu__card:hover .icon__circle {
  background: var(--white);
}
.activeMenu .icon__circle svg,
.menu__card:hover .icon__circle svg {
  color: var(--primary600);
}
.activeMenu h5,
.menu__card:hover h5 {
  color: var(--white);
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
  height: 330px;
}
.product__card .product__img-box {
  width: 134px;
  height: 104px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease;
}
.product__card .product__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__card .product__img-box img:hover {
  transform: scale(1.2);
}
.product__card h6 {
  color: var(--primary600);
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
.product__card h5 {
  color: var(--secondary900);
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}
.product__card .addButtons {
  display: flex;
  gap: 24px;
}

.testimonial {
  margin: 0px 16px 16px 16px !important;
  width: 90% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex !important;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
}
.testimonial .test__img_box {
  display: flex;
  justify-content: center;
  height: 100%;
}
.testimonial .test__img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .test__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial .test__content p {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
}
.testimonial .test__content p span {
  font-weight: 600;
}

footer {
  margin-top: 112px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 38px 64px;
  background: #fbf3e0;
}
.footer .top__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.footer .top__footer h5 {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary700);
}
.footer .top__footer h6 {
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary700);
}
.footer .top__footer p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
}
.footer .top__footer .useful__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .useful__links div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer .top__footer .get_in_touch {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .get_in_touch .contact__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .get_in_touch .contact__links .address,
.footer .top__footer .get_in_touch .contact__links .call__us,
.footer .top__footer .get_in_touch .contact__links .email {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .top__footer .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.footer .top__footer .newsletter .logo__text {
  font-family: "Kaushan Script", sans-serif;
  font-size: 42px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .subscribe__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .top__footer .newsletter .subscribe__text h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary600);
  margin: 0px;
}
.footer .top__footer .newsletter .subscribe__text p {
  font-size: 16px;
  color: var(--black);
  margin: 0px;
}
.footer .top__footer .newsletter .input__subscribe {
  display: flex;
  border: 2px solid var(--primary700);
  padding: 8px 12px 8px 24px;
  border-radius: 12px;
  background: var(--white);
  gap: 8px;
}
.footer .top__footer .newsletter .input__subscribe input {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.footer .footer__separator {
  width: 100%;
  height: 2px;
  background: var(--secondary700);
}
.footer .copyright__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright__section p {
  font-size: 16px;
  color: var(--black);
  margin: 0px;
}
.footer .copyright__section .socials {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer .copyright__section .socials svg {
  width: 24px;
  height: 24px;
  color: var(--black);
}/*# sourceMappingURL=App.css.map */