body {
  a {
    text-decoration: none;
  }
}
.App {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #fffaf4;
}

li {
  list-style: none;
}

.button__primary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 20px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: #ffcd72;
  }
}

.button__primary_small_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px 12px 0px 16px;
  gap: 6px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 16px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: #ffcd72;
  }
}

.button__small_heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--primary600);
  //background: var(--primary600);

  svg {
    height: 18px;
    width: 18px;
    color: var(--primary600);
  }
}

.container {
  margin: 0px 64px !important;
  padding: 0 !important;
}

.button__secondary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: var(--secondary700);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 20px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: var(--secondary500);
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    svg {
      width: 16px;
      height: 16px;
      color: var(--primary600);
    }
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar {
  width: 100vw;
  padding: 0 !important;
  background: #fbf3e0;

  .nav__content {
    width: 100%;
    margin: 12px 64px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .logo {
      h2 {
        font-family: 'Kaushan Script', sans-serif !important;
        font-size: 24px;
        color: #e4aa00;
      }
    }

    .navigation {
      .menu {
        padding: 0;
        margin: 0;

        a {
          height: 40px;
          position: relative;
          display: block;
          padding: 2px 0px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #725500;
          transition: 0.5s;
          text-decoration: none;

          &::after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 50px;
            background: #e4aa00;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s;
          }

          &:hover {
            color: #e4aa00;
            font-weight: 600;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: center;
          }
        }

        .menu__active {
          color: #e4aa00;
          font-weight: 600;

          &::after {
            transform: scaleX(1);
            transform-origin: center;
          }
        }
      }
    }

    .right {
      svg {
        font-size: 24px;
        color: #4f4400;
      }

      .mobile__menu {
        display: none;
      }
    }
  }
}

.dropdown-menu {
  --bs-dropdown-bg: var(--white) !important;
  --bs-dropdown-min-width: fit-content !important;
  --bs-dropdown-padding-x: 0px !important;
  --bs-dropdown-padding-y: 4px !important;
  --bs-dropdown-border-color: var(--primary600) !important;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-font-family: 'Nunito Sans', sans-serif !important;
  --bs-dropdown-font-weight: 600 !important;
  margin-top: 8px !important;
}

// Styles for the menu card

.menu__card {
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border: 2px solid var(--primary600);
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
  cursor: pointer;
  transition: 0.5s;

  .icon__circle {
    width: 44px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary600);

    svg {
      width: 24px;
      height: 24px;
      color: var(--white);
    }
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary600);
  }
}

.activeMenu,
.menu__card:hover {
  background: var(--primary600);

  .icon__circle {
    background: var(--white);

    svg {
      color: var(--primary600);
    }
  }

  h5 {
    color: var(--white);
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  //gap: 16px;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
  height: 330px;

  .product__img-box {
    width: 134px;
    height: 104px;
    object-fit: cover;
    transition: 0.4s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  h6 {
    color: var(--primary600);
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    text-align: center;
  }

  h5 {
    color: var(--secondary900);
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
  }

  .addButtons {
    display: flex;
    gap: 24px;
  }
}

//These are styles for the testimonial

.testimonial {
  margin: 0px 16px 16px 16px !important;

  width: 90% !important;
  height: fit-content;
  display: flex !important;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;

  .test__img_box {
    display: flex;
    justify-content: center;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .test__content {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-bottom: 0px;
      font-weight: 300;
      font-size: 14px;
      color: var(--black);

      span {
        font-weight: 600;
      }
    }
  }
}

// These ares styles for the footer

footer {
  margin-top: 112px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 38px 64px;
  background: #fbf3e0;

  .top__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    h5 {
      font-weight: 700;
      font-size: 20px;
      color: var(--secondary700);
    }

    h6 {
      font-weight: 600;
      font-size: 16px;
      color: var(--secondary700);
    }

    p {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 0px;
    }

    .useful__links {
      display: flex;
      flex-direction: column;
      gap: 18px;

      div {
        display: flex;
        flex-direction: column;
        gap: 14px;
      }
    }

    .get_in_touch {
      display: flex;
      flex-direction: column;
      gap: 18px;

      .contact__links {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .address,
        .call__us,
        .email {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
      }
    }

    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18px;

      .logo__text {
        font-family: 'Kaushan Script', sans-serif;
        font-size: 42px;
        color: var(--primary700);
      }

      .subscribe__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-weight: 600;
          font-size: 24px;
          color: var(--secondary600);
          margin: 0px;
        }

        p {
          font-size: 16px;
          color: var(--black);
          margin: 0px;
        }
      }

      .input__subscribe {
        display: flex;
        border: 2px solid var(--primary700);
        padding: 8px 12px 8px 24px;
        border-radius: 12px;
        background: var(--white);
        gap: 8px;

        input {
          border: none;
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: var(--primary700);

          &::placeholder {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: var(--primary700);
          }

          &:focus {
            border: none;
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }

  .footer__separator {
    width: 100%;
    height: 2px;
    background: var(--secondary700);
  }

  .copyright__section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 16px;
      color: var(--black);
      margin: 0px;
    }

    .socials {
      display: flex;
      gap: 24px;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        color: var(--black);
      }
    }
  }
}

// These are styles for the checkout steps

.checkout-steps > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.checkout-steps > div.active {
  border-bottom: 3px solid var(--primary600);
  color: var(--primary600);
  font-weight: 700;
  font-size: 22px;
}

.item__image {
  height: 60px;
  width: 90px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 992px) {
  .button__primary_icon,
  .button__secondary_icon {
    height: 36px !important;
    padding: 0px 8px 0px 12px !important;
    border-radius: 6px !important;
    gap: 4px !important;
    font-size: 14px !important;

    svg {
      width: 16px !important;
      height: 16px !important;
    }
  }

  .button__primary_small_icon {
    height: 32px !important;
    padding: 0px 4px 0px 8px !important;
    border-radius: 6px !important;
    gap: 2px !important;
    font-size: 12px !important;

    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .button__small_heart {
    height: 32px !important;
    width: 32px !important;
    border-radius: 6px !important;

    svg {
      height: 14px !important;
      width: 14px !important;
    }
  }

  .nav__content {
    margin: 8px 56px !important;

    .logo {
      margin: 0px;

      h2 {
        margin: 0;
        font-size: 20px !important;
      }
    }

    .navigation {
      .menu {
        gap: 24px !important;

        a {
          height: 36px !important;
        }
      }
    }
  }

  .product__card {
    height: 280px !important;

    .product__img-box {
      width: 94px !important;
      height: 94px !important;
    }
  }

  .footer {
    gap: 42px !important;
    padding: 32px 48px !important;
  }
}

@media only screen and (max-width: 768px) {
  .nav__content {
    margin: 8px 36px !important;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      height: 100%;
      background: #fcfcfc;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 100;
      line-height: 20px;
    }
  }
  .mobile__menu {
    display: block !important;
  }

  .show__menu {
    display: block;
  }

  .menu__card {
    padding: 8px 18px !important;
    gap: 6px !important;
    border-radius: 6px !important;
    height: fit-content !important;

    .icon__circle {
      width: 38px !important;
      height: 38px !important;

      svg {
        width: 18px !important;
        height: 18px !important;
      }
    }

    h5 {
      font-size: 16px !important;
    }
  }

  .product__card {
    height: 242px !important;
    .product__img-box {
      width: 72px !important;
      height: 72px !important;
    }

    h6 {
      font-size: 14px !important;
    }

    h5 {
      font-size: 16px !important;
    }

    .rating {
      gap: 6px !important;
      svg {
        width: 14px !important;
        height: 14px !important;
      }
    }

    .addButtons {
      gap: 8px !important;
    }
  }

  .footer {
    padding: 32px 36px !important;
    gap: 18px !important;

    .top__footer {
      .useful__links {
        gap: 10px !important;

        h5 {
          margin: 0;
          font-size: 16px !important;
        }

        div {
          gap: 4px !important;

          p {
            font-size: 12px !important;
          }
        }
      }

      .get_in_touch {
        gap: 10px !important;

        h5 {
          margin: 0;
          font-size: 16px !important;
        }

        .contact__links {
          gap: 16px !important;

          .address,
          .call__us,
          .email {
            gap: 2px !important;

            h6 {
              margin-bottom: 0;
              font-size: 14px !important;
            }

            p {
              font-size: 12px !important;
            }
          }
        }
      }

      .newsletter {
        gap: 16px !important;

        .logo__text {
          font-size: 32px !important;
        }

        .subscribe__text {
          h3 {
            font-size: 18px !important;
          }

          p {
            font-size: 12px !important;
          }
        }

        .input__subscribe {
          height: 46px !important;
          border-radius: 8px !important;
          padding: 4px 8px 4px 8px !important;
          gap: 6px !important;

          input {
            background: transparent !important;
            font-size: 14px !important;

            &::placeholder {
              font-size: 14px !important;
            }
          }
        }
      }
    }

    .copyright__section {
      p {
        font-size: 12px !important;
      }

      .socials {
        gap: 16px !important;

        svg {
          width: 16px !important;
          height: 16px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .button__primary_icon,
  .button__secondary_icon {
    height: 32px !important;
    padding: 0px 4px 0px 8px !important;
    border-radius: 4px !important;
    gap: 2px !important;
    font-size: 12px !important;

    svg {
      width: 12px !important;
      height: 12px !important;
    }
  }

  .button__primary_small_icon {
    height: 28px !important;
    padding: 0px 2px 0px 6px !important;
    border-radius: 4px !important;
    gap: 2px !important;
    font-size: 8px !important;

    svg {
      width: 8px !important;
      height: 8px !important;
    }
  }

  .button__small_heart {
    height: 28px !important;
    width: 28px !important;
    border-radius: 6px !important;

    svg {
      height: 10px !important;
      width: 10px !important;
    }
  }

  .nav__content {
    margin: 6px 20px !important;

    .logo {
      h2 {
        font-size: 16px !important;
      }
    }

    .menu a {
      font-size: 12px !important;
    }

    .right {
      gap: 18px !important;
      a svg {
        font-size: 20px !important;
      }

      .mobile__menu svg {
        font-size: 20px !important;
      }
    }
  }

  .menu__card {
    padding: 6px 14px !important;
    gap: 4px !important;
    border-radius: 4px !important;

    .icon__circle {
      width: 32px !important;
      height: 32px !important;

      svg {
        width: 14px !important;
        height: 14px !important;
      }
    }

    h5 {
      font-size: 12px !important;
    }
  }

  footer {
    margin-top: 64px !important;

    .footer {
      padding: 20px 20px !important;
      gap: 12px !important;

      .copyright__section {
        flex-direction: column;
        gap: 14px;
        justify-content: flex-start !important;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .menu__card {
    padding: 4px 10px !important;

    .icon__circle {
      width: 22px !important;
      height: 22px !important;

      svg {
        width: 10px !important;
        height: 10px !important;
      }
    }
  }

  footer {
    .footer {
      .top__footer {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px !important;

        .useful__links {
          align-items: center;
          div {
            flex-direction: row;
            gap: 32px !important;
          }
        }

        .get_in_touch {
          align-items: center;

          .contact__links {
            flex-direction: row;
            gap: 32px !important;

            .address,
            .call__us,
            .email {
              align-items: center;

              p {
                text-align: center;
              }
            }
          }
        }

        .newsletter {
          margin-bottom: 24px !important;
        }
      }
    }
  }
}
