body a {
  text-decoration: none;
}

.App {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #fffaf4;
}

li {
  list-style: none;
}

.button__primary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__primary_icon svg {
  font-size: 20px !important;
  color: #fcfcfc !important;
}
.button__primary_icon:hover {
  background: #ffcd72;
}

.button__primary_small_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px 12px 0px 16px;
  gap: 6px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__primary_small_icon svg {
  font-size: 16px !important;
  color: #fcfcfc !important;
}
.button__primary_small_icon:hover {
  background: #ffcd72;
}

.button__small_heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--primary600);
}
.button__small_heart svg {
  height: 18px;
  width: 18px;
  color: var(--primary600);
}

.container {
  margin: 0px 64px !important;
  padding: 0 !important;
}

.button__secondary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: var(--secondary700);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;
}
.button__secondary_icon svg {
  font-size: 20px !important;
  color: #fcfcfc !important;
}
.button__secondary_icon:hover {
  background: var(--secondary500);
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rating span svg {
  width: 16px;
  height: 16px;
  color: var(--primary600);
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar {
  width: 100vw;
  padding: 0 !important;
  background: #fbf3e0;
}
.navbar .nav__content {
  width: 100%;
  margin: 12px 64px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.navbar .nav__content .logo h2 {
  font-family: "Kaushan Script", sans-serif !important;
  font-size: 24px;
  color: #e4aa00;
}
.navbar .nav__content .navigation .menu {
  padding: 0;
  margin: 0;
}
.navbar .nav__content .navigation .menu a {
  height: 40px;
  position: relative;
  display: block;
  padding: 2px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #725500;
  transition: 0.5s;
  text-decoration: none;
}
.navbar .nav__content .navigation .menu a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background: #e4aa00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s;
}
.navbar .nav__content .navigation .menu a:hover {
  color: #e4aa00;
  font-weight: 600;
}
.navbar .nav__content .navigation .menu a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.navbar .nav__content .navigation .menu .menu__active {
  color: #e4aa00;
  font-weight: 600;
}
.navbar .nav__content .navigation .menu .menu__active::after {
  transform: scaleX(1);
  transform-origin: center;
}
.navbar .nav__content .right svg {
  font-size: 24px;
  color: #4f4400;
}
.navbar .nav__content .right .mobile__menu {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-bg: var(--white) !important;
  --bs-dropdown-min-width: fit-content !important;
  --bs-dropdown-padding-x: 0px !important;
  --bs-dropdown-padding-y: 4px !important;
  --bs-dropdown-border-color: var(--primary600) !important;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-font-family: "Nunito Sans", sans-serif !important;
  --bs-dropdown-font-weight: 600 !important;
  margin-top: 8px !important;
}

.menu__card {
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border: 2px solid var(--primary600);
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
  cursor: pointer;
  transition: 0.5s;
}
.menu__card .icon__circle {
  width: 44px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary600);
}
.menu__card .icon__circle svg {
  width: 24px;
  height: 24px;
  color: var(--white);
}
.menu__card h5 {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary600);
}

.activeMenu,
.menu__card:hover {
  background: var(--primary600);
}
.activeMenu .icon__circle,
.menu__card:hover .icon__circle {
  background: var(--white);
}
.activeMenu .icon__circle svg,
.menu__card:hover .icon__circle svg {
  color: var(--primary600);
}
.activeMenu h5,
.menu__card:hover h5 {
  color: var(--white);
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
  height: 330px;
}
.product__card .product__img-box {
  width: 134px;
  height: 104px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s ease;
}
.product__card .product__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__card .product__img-box img:hover {
  transform: scale(1.2);
}
.product__card h6 {
  color: var(--primary600);
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  text-align: center;
}
.product__card h5 {
  color: var(--secondary900);
  font-weight: 700;
  font-size: 20px;
  margin: 0px;
}
.product__card .addButtons {
  display: flex;
  gap: 24px;
}

.testimonial {
  margin: 0px 16px 16px 16px !important;
  width: 90% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex !important;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
}
.testimonial .test__img_box {
  display: flex;
  justify-content: center;
  height: 100%;
}
.testimonial .test__img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .test__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial .test__content p {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 14px;
  color: var(--black);
}
.testimonial .test__content p span {
  font-weight: 600;
}

footer {
  margin-top: 112px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 38px 64px;
  background: #fbf3e0;
}
.footer .top__footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.footer .top__footer h5 {
  font-weight: 700;
  font-size: 20px;
  color: var(--secondary700);
}
.footer .top__footer h6 {
  font-weight: 600;
  font-size: 16px;
  color: var(--secondary700);
}
.footer .top__footer p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
}
.footer .top__footer .useful__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .useful__links div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer .top__footer .get_in_touch {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .get_in_touch .contact__links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer .top__footer .get_in_touch .contact__links .address,
.footer .top__footer .get_in_touch .contact__links .call__us,
.footer .top__footer .get_in_touch .contact__links .email {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .top__footer .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.footer .top__footer .newsletter .logo__text {
  font-family: "Kaushan Script", sans-serif;
  font-size: 42px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .subscribe__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .top__footer .newsletter .subscribe__text h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--secondary600);
  margin: 0px;
}
.footer .top__footer .newsletter .subscribe__text p {
  font-size: 16px;
  color: var(--black);
  margin: 0px;
}
.footer .top__footer .newsletter .input__subscribe {
  display: flex;
  border: 2px solid var(--primary700);
  padding: 8px 12px 8px 24px;
  border-radius: 12px;
  background: var(--white);
  gap: 8px;
}
.footer .top__footer .newsletter .input__subscribe input {
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary700);
}
.footer .top__footer .newsletter .input__subscribe input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.footer .footer__separator {
  width: 100%;
  height: 2px;
  background: var(--secondary700);
}
.footer .copyright__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright__section p {
  font-size: 16px;
  color: var(--black);
  margin: 0px;
}
.footer .copyright__section .socials {
  display: flex;
  gap: 24px;
  align-items: center;
}
.footer .copyright__section .socials svg {
  width: 24px;
  height: 24px;
  color: var(--black);
}

.checkout-steps > div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.checkout-steps > div.active {
  border-bottom: 3px solid var(--primary600);
  color: var(--primary600);
  font-weight: 700;
  font-size: 22px;
}

.item__image {
  height: 60px;
  width: 90px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .button__primary_icon,
.button__secondary_icon {
    height: 36px !important;
    padding: 0px 8px 0px 12px !important;
    border-radius: 6px !important;
    gap: 4px !important;
    font-size: 14px !important;
  }
  .button__primary_icon svg,
.button__secondary_icon svg {
    width: 16px !important;
    height: 16px !important;
  }
  .button__primary_small_icon {
    height: 32px !important;
    padding: 0px 4px 0px 8px !important;
    border-radius: 6px !important;
    gap: 2px !important;
    font-size: 12px !important;
  }
  .button__primary_small_icon svg {
    width: 12px !important;
    height: 12px !important;
  }
  .button__small_heart {
    height: 32px !important;
    width: 32px !important;
    border-radius: 6px !important;
  }
  .button__small_heart svg {
    height: 14px !important;
    width: 14px !important;
  }
  .nav__content {
    margin: 8px 56px !important;
  }
  .nav__content .logo {
    margin: 0px;
  }
  .nav__content .logo h2 {
    margin: 0;
    font-size: 20px !important;
  }
  .nav__content .navigation .menu {
    gap: 24px !important;
  }
  .nav__content .navigation .menu a {
    height: 36px !important;
  }
  .product__card {
    height: 280px !important;
  }
  .product__card .product__img-box {
    width: 94px !important;
    height: 94px !important;
  }
  .footer {
    gap: 42px !important;
    padding: 32px 48px !important;
  }
}
@media only screen and (max-width: 768px) {
  .nav__content {
    margin: 8px 36px !important;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.425);
    z-index: 99;
    display: none;
  }
  .navigation .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #fcfcfc;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    line-height: 20px;
  }
  .mobile__menu {
    display: block !important;
  }
  .show__menu {
    display: block;
  }
  .menu__card {
    padding: 8px 18px !important;
    gap: 6px !important;
    border-radius: 6px !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .menu__card .icon__circle {
    width: 38px !important;
    height: 38px !important;
  }
  .menu__card .icon__circle svg {
    width: 18px !important;
    height: 18px !important;
  }
  .menu__card h5 {
    font-size: 16px !important;
  }
  .product__card {
    height: 242px !important;
  }
  .product__card .product__img-box {
    width: 72px !important;
    height: 72px !important;
  }
  .product__card h6 {
    font-size: 14px !important;
  }
  .product__card h5 {
    font-size: 16px !important;
  }
  .product__card .rating {
    gap: 6px !important;
  }
  .product__card .rating svg {
    width: 14px !important;
    height: 14px !important;
  }
  .product__card .addButtons {
    gap: 8px !important;
  }
  .footer {
    padding: 32px 36px !important;
    gap: 18px !important;
  }
  .footer .top__footer .useful__links {
    gap: 10px !important;
  }
  .footer .top__footer .useful__links h5 {
    margin: 0;
    font-size: 16px !important;
  }
  .footer .top__footer .useful__links div {
    gap: 4px !important;
  }
  .footer .top__footer .useful__links div p {
    font-size: 12px !important;
  }
  .footer .top__footer .get_in_touch {
    gap: 10px !important;
  }
  .footer .top__footer .get_in_touch h5 {
    margin: 0;
    font-size: 16px !important;
  }
  .footer .top__footer .get_in_touch .contact__links {
    gap: 16px !important;
  }
  .footer .top__footer .get_in_touch .contact__links .address,
.footer .top__footer .get_in_touch .contact__links .call__us,
.footer .top__footer .get_in_touch .contact__links .email {
    gap: 2px !important;
  }
  .footer .top__footer .get_in_touch .contact__links .address h6,
.footer .top__footer .get_in_touch .contact__links .call__us h6,
.footer .top__footer .get_in_touch .contact__links .email h6 {
    margin-bottom: 0;
    font-size: 14px !important;
  }
  .footer .top__footer .get_in_touch .contact__links .address p,
.footer .top__footer .get_in_touch .contact__links .call__us p,
.footer .top__footer .get_in_touch .contact__links .email p {
    font-size: 12px !important;
  }
  .footer .top__footer .newsletter {
    gap: 16px !important;
  }
  .footer .top__footer .newsletter .logo__text {
    font-size: 32px !important;
  }
  .footer .top__footer .newsletter .subscribe__text h3 {
    font-size: 18px !important;
  }
  .footer .top__footer .newsletter .subscribe__text p {
    font-size: 12px !important;
  }
  .footer .top__footer .newsletter .input__subscribe {
    height: 46px !important;
    border-radius: 8px !important;
    padding: 4px 8px 4px 8px !important;
    gap: 6px !important;
  }
  .footer .top__footer .newsletter .input__subscribe input {
    background: transparent !important;
    font-size: 14px !important;
  }
  .footer .top__footer .newsletter .input__subscribe input::-moz-placeholder {
    font-size: 14px !important;
  }
  .footer .top__footer .newsletter .input__subscribe input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .footer .top__footer .newsletter .input__subscribe input::placeholder {
    font-size: 14px !important;
  }
  .footer .copyright__section p {
    font-size: 12px !important;
  }
  .footer .copyright__section .socials {
    gap: 16px !important;
  }
  .footer .copyright__section .socials svg {
    width: 16px !important;
    height: 16px !important;
  }
  .checkout-steps .col {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 600px) {
  .button__primary_icon,
.button__secondary_icon {
    height: 32px !important;
    padding: 0px 4px 0px 8px !important;
    border-radius: 4px !important;
    gap: 2px !important;
    font-size: 12px !important;
  }
  .button__primary_icon svg,
.button__secondary_icon svg {
    width: 12px !important;
    height: 12px !important;
  }
  .button__primary_small_icon {
    height: 28px !important;
    padding: 0px 2px 0px 6px !important;
    border-radius: 4px !important;
    gap: 2px !important;
    font-size: 8px !important;
  }
  .button__primary_small_icon svg {
    width: 8px !important;
    height: 8px !important;
  }
  .button__small_heart {
    height: 28px !important;
    width: 28px !important;
    border-radius: 6px !important;
  }
  .button__small_heart svg {
    height: 10px !important;
    width: 10px !important;
  }
  .nav__content {
    margin: 6px 20px !important;
  }
  .nav__content .logo h2 {
    font-size: 16px !important;
  }
  .nav__content .menu a {
    font-size: 12px !important;
  }
  .nav__content .right {
    gap: 18px !important;
  }
  .nav__content .right a svg {
    font-size: 20px !important;
  }
  .nav__content .right .mobile__menu svg {
    font-size: 20px !important;
  }
  .menu__card {
    padding: 6px 14px !important;
    gap: 4px !important;
    border-radius: 4px !important;
  }
  .menu__card .icon__circle {
    width: 32px !important;
    height: 32px !important;
  }
  .menu__card .icon__circle svg {
    width: 14px !important;
    height: 14px !important;
  }
  .menu__card h5 {
    font-size: 12px !important;
  }
  footer {
    margin-top: 64px !important;
  }
  footer .footer {
    padding: 20px 20px !important;
    gap: 12px !important;
  }
  footer .footer .copyright__section {
    flex-direction: column;
    gap: 14px;
    justify-content: flex-start !important;
    align-items: center;
  }
  .checkout-steps .col {
    align-items: flex-start !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 500px) {
  .menu__card {
    padding: 4px 10px !important;
  }
  .menu__card .icon__circle {
    width: 22px !important;
    height: 22px !important;
  }
  .menu__card .icon__circle svg {
    width: 10px !important;
    height: 10px !important;
  }
  footer .footer .top__footer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px !important;
  }
  footer .footer .top__footer .useful__links {
    align-items: center;
  }
  footer .footer .top__footer .useful__links div {
    flex-direction: row;
    gap: 32px !important;
  }
  footer .footer .top__footer .get_in_touch {
    align-items: center;
  }
  footer .footer .top__footer .get_in_touch .contact__links {
    flex-direction: row;
    gap: 32px !important;
  }
  footer .footer .top__footer .get_in_touch .contact__links .address,
footer .footer .top__footer .get_in_touch .contact__links .call__us,
footer .footer .top__footer .get_in_touch .contact__links .email {
    align-items: center;
  }
  footer .footer .top__footer .get_in_touch .contact__links .address p,
footer .footer .top__footer .get_in_touch .contact__links .call__us p,
footer .footer .top__footer .get_in_touch .contact__links .email p {
    text-align: center;
  }
  footer .footer .top__footer .newsletter {
    margin-bottom: 24px !important;
  }
}/*# sourceMappingURL=App.css.map */