body {
  a {
    text-decoration: none;
  }
}
.App {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.button__primary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 20px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: #ffcd72;
  }
}

.button__primary_small_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px 12px 0px 16px;
  gap: 6px;
  color: #fcfcfc;
  border: none;
  background: #ffbf00;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 16px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: #ffcd72;
  }
}

.button__small_heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 2px solid var(--primary600);
  //background: var(--primary600);

  svg {
    height: 18px;
    width: 18px;
    color: var(--primary600);
  }
}

.container {
  margin: 0px 64px !important;
  padding: 0 !important;
}

.button__secondary_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 16px 0px 20px;
  gap: 8px;
  color: #fcfcfc;
  border: none;
  background: var(--secondary700);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.5s;

  svg {
    font-size: 20px !important;
    color: #fcfcfc !important;
  }

  &:hover {
    background: var(--secondary500);
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    svg {
      width: 16px;
      height: 16px;
      color: var(--primary600);
    }
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  width: 100vw;
  padding: 0 !important;
  background: #fbf3e0;

  .nav__content {
    width: 100%;
    margin: 12px 64px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .logo {
      h2 {
        font-family: 'Kaushan Script', sans-serif !important;
        font-size: 24px;
        color: #e4aa00;
      }
    }

    .navigation {
      .menu {
        padding: 0;
        margin: 0;

        a {
          height: 40px;
          position: relative;
          display: block;
          padding: 2px 0px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #725500;
          transition: 0.5s;
          text-decoration: none;

          &::after {
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 50px;
            background: #e4aa00;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.5s;
          }

          &:hover {
            color: #e4aa00;
            font-weight: 600;
          }

          &:hover::after {
            transform: scaleX(1);
            transform-origin: center;
          }
        }

        .menu__active {
          color: #e4aa00;
          font-weight: 600;

          &::after {
            transform: scaleX(1);
            transform-origin: center;
          }
        }
      }
    }

    .right {
      svg {
        font-size: 24px;
        color: #4f4400;
      }
    }
  }
}

// Styles for the menu card

.menu__card {
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border: 2px solid var(--primary600);
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08);
  cursor: pointer;
  transition: 0.5s;

  .icon__circle {
    width: 44px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary600);

    svg {
      width: 24px;
      height: 24px;
      color: var(--white);
    }
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary600);
  }
}

.activeMenu,
.menu__card:hover {
  background: var(--primary600);

  .icon__circle {
    background: var(--white);

    svg {
      color: var(--primary600);
    }
  }

  h5 {
    color: var(--white);
  }
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  //gap: 16px;
  justify-content: space-between;
  padding: 16px 0px 24px 0px;
  height: 330px;

  .product__img-box {
    width: 134px;
    height: 104px;
    object-fit: cover;
    transition: 0.4s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  h6 {
    color: var(--primary600);
    font-weight: 600;
    font-size: 16px;
    margin: 0px;
    text-align: center;
  }

  h5 {
    color: var(--secondary900);
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
  }

  .addButtons {
    display: flex;
    gap: 24px;
  }
}
