.cart {
  .item__image img {
    object-fit: contain;
  }
  .page__banner {
    margin-top: 0px;
    margin-bottom: 64px;
    background-image: url('../../assets/Cart.png');
    // opacity: rgba(84, 84, 84, 0.7);
    //background: rgba(84, 84, 84, 0.7);
    background-repeat: no-repeat;
    height: 152px;

    .page__banner_text {
      width: 100%;
      height: 100%;
      background: rgba(84, 84, 84, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 58px;
        font-weight: 700;
        color: var(--primary600);
      }
    }
  }

  .cart__items {
    margin: 0px 64px 0px 64px;

    .items {
      margin-top: 16px;

      .col-md-8 {
        padding: 0px;
      }

      .items__header {
        background: var(--primary400);
        padding: 6px 12px 6px 12px;
        width: 100%;

        margin-left: 0px;
        margin-right: 0px;

        h5 {
          font-size: 16px;
          font-weight: 600;
          color: var(--secondary900);
          margin-bottom: 0px;
        }

        .col-md-8,
        .col-md-2,
        .col-md-1 {
          display: flex;
          align-items: center;
        }

        .col-md-2,
        .col-md-1 {
          justify-content: center;
        }
      }

      .item__row {
        width: 100% !important;

        .row {
          width: 100% !important;
          margin-right: 0px !important;
          margin-left: 0px !important;
          border-bottom: 1px solid var(--primary600);
          padding: 8px 0px;

          .col-md-6 {
            padding: 0px;

            a {
              text-decoration: none;
              color: var(--primary600);
              font-family: 'Nunito Sans', sans-serif;
              font-size: 16px;
              font-weight: 600;
            }
          }

          .col-md-2 {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #897700;

            .add__subtract {
              display: flex;
              align-items: center;
              width: 90%;
              justify-content: space-between;

              padding: 2px 8px;
              border-radius: 8px;
              border: 1px solid var(--primary600);

              span {
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 14px;
              }

              svg {
                font-size: 16px;
                cursor: pointer;
              }

              button {
                border: none;
                background: transparent;
                color: inherit;
              }
            }
          }

          .price {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
          }

          .remove__icon {
            padding-left: 0px;
            svg {
              font-size: 20px;
              cursor: pointer;
              // color: #897700;
            }

            button {
              border: none;
              background: transparent;
              color: inherit;
            }
          }
        }
      }

      .order__summary {
        padding-left: 46px !important;
        padding-right: 46px !important;
        h4 {
          font-weight: 700;
          font-size: 25px;
          color: var(--primary600);
        }

        .row {
          padding: 12px 0px;

          &:not(:nth-last-child(1)) {
            border-bottom: 1px solid var(--primary600);
          }

          &:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 16px;
          }

          .titles {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: var(--grey);
          }

          .outcomes {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: var(--secondary900);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .cart {
    .page__banner {
      margin-bottom: 52px !important;
    }

    .cart__items {
      margin: 0px 56px !important;

      .items {
        margin-top: 28px !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .cart {
    .page__banner {
      margin-bottom: 42px !important;
    }

    .cart__items {
      margin: 0px 36px !important;

      .items {
        flex-direction: column !important;

        .col-md-8 {
          width: 100% !important;
          margin-bottom: 32px !important;
        }

        .order__summary {
          width: 50% !important;
          padding: 0px 10px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .cart {
    .cart__items {
      margin: 0px 20px !important;
      .items {
        margin-top: 36px !important;

        .col-md-8 {
          .items__header {
            display: grid !important;
            display: grid !important;
            grid-template-columns: 40% 18% 10% 10%;
            gap: 36px;

            h5 {
              font-size: 12px !important;
            }
          }

          .item__row {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .row {
              display: grid !important;
              grid-template-columns: 40% 18% 10% 10%;
              gap: 36px;

              .item__image {
                width: 36px !important;
                height: 36px !important;

                img {
                  width: 100%;
                }
              }

              a {
                font-size: 12px !important;
              }

              .col-md-2 {
                padding: 0px !important;

                .add__subtract {
                  padding: 2px 6px !important;

                  button {
                    padding: 0px 2px !important;
                    svg {
                      font-size: 12px !important;
                    }
                  }

                  span {
                    font-size: 10px !important;
                  }
                }
              }

              .price {
                font-size: 12px !important;
              }

              .remove__icon {
                button {
                  svg {
                    font-size: 16px !important;
                  }
                }
              }
            }
          }
        }

        .order__summary {
          width: 90% !important;
          transform: translateX(5%);

          .row:not(:nth-child(3)) {
            display: flex;
            justify-content: center;

            h4 {
              padding: 0px !important;
              margin: 0px !important;
              text-align: center;
            }

            div {
              padding: 0px !important;
              width: 100% !important;

              .titles {
                text-align: center;
              }

              .outcomes {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .cart .cart__items {
    .items__header {
      grid-template-columns: 40% 18% 10% 10% !important;
      gap: 28px !important;
    }

    .item__row {
      .row {
        grid-template-columns: 40% 18% 10% 10% !important;
        gap: 28px !important;
      }
    }
  }

  .cart .order__summary {
    width: 100% !important;
  }
}
